<div class="container">
    <div class="row">

    <div class="col-sm-12">
        <h1>Add Your Answer!</h1> <br>
    </div>

    <%= form_with scope: :answer, url: answers_path, local: true do |f| %>
        <div class="col-sm-12">
            <% if @answer.errors.any? %>
                <div id="error_explanation">
                    <h2>
                        <%= pluralize(@answer.errors.count, "error") %>
                        prohibited your answer from being submitted:
                    </h2>
                    <ul>
                    <% @answer.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
        </div>
    
        <div class="col-sm-12">
            <div class="form-group">
                <div> What are your fears about end-of-life? </div>
                <%= f.text_area :answer_1 %><br>
                <div> What legacy are you hoping to leave behind? </div>
                <%= f.text_area :answer_2 %><br>
                <div> How old are you? </div>
                <%= f.select :age, (18..99) %>
                <div> Where are you from? </div>
                <%= f.country_select :country_code, ([ "CA", "US" ]), iso_codes: true, id: :element_id, class:"col-lg-12 col-md-12 col-sm-12 col-12" %>
            </div>
        
            <div class="form-group">
                <%= f.submit %>
            </div>
        </div>
    
    <% end %>
    <div class="col-sm-12">
    <%= link_to '<button type="button" class="btn btn-primary">Back</button>'.html_safe, root_path %>
    </div>
    </div>
</div>